/* universal selector - referenced from: class notes boxmodel.pdf */
* { 
    font-family: 'PT Serif', serif;
    scroll-behavior: smooth;
}

p {
    font-size: 1.3rem;
}

h1{
    color:  #fff;
    text-align: center;
}

.main-style{
    font-size: 120%;
    background-image: url(../images/background1.jpg);
    background-color: lightcyan;
    background-attachment:fixed;
}

.page-header { 
    width: 96%;
    background: #008080;
    position:relative;
    border-radius: 15px;
    padding: 2%;
    opacity: 0.9;
}

/* navigation style start - referenced from https://www.w3schools.com/css/css_navbar_horizontal.asp and class notes boxmodel.pdf*/
.page-nav {
    border-radius: 15px;
    background-color: #333;
    font-size: 100%;
    margin-bottom: 5%;
    text-align: center;
    overflow: hidden;
}

.page-nav ul {
    list-style-type: none;
    background-color: #333;
    width: 96%;
    margin: 0;
    padding: 0;
    display: inline-block;
    display: flex;
    justify-content: center;   
}

.page-nav li {
    float: left;
    border-right: 2px solid black;  
}

.page-nav li a {
    display: block;
    color: #fff;
    padding: 14px 16px;
    text-decoration: none; 
    cursor: pointer; 
    margin: 0;
}

.page-nav li:last-child {
    border-right: none;
}

.page-nav li a:hover { 
    background-color: #008080; 
}
/*navigation style end*/

/* drop down start referenced from https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp*/
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 5%;
  z-index: 1;
  border-radius: 10px;
  font-size: 0.8rem;
}
/* drop down end */

.content {
    clear: both;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 1% 15%;
    background-color: lightblue;
    padding: 4%;
    font-size: 1.5rem;
    opacity: 0.8;
}

.content-inv {
    clear: both;    
    border-radius: 10px;
    margin: 1% 15%;
    padding: 4%;
    font-size: 1.2rem;
    

}

.column {
    column-count: 2;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

/* transition and opacity referneced from https://www.w3schools.com/howto/howto_css_image_overlay.asp */
img:hover {
  opacity: 0.5;
  transition: .5s ease;
}

img {
    padding: 0;
    margin: 0;
    border-radius: 30px;
    height: 80%;
    width: 90%;
}

.site-footer {
    margin-top: 5%;
    background-color: #333;
    opacity: 0.7;
    color: #fff;
    padding: 2% 0%;
    text-align: center;
    border-radius: 20px;
}

@media screen and (max-width: 600px){
  .page-nav li{
    font-size: 0.8rem;
    border: none;
    float: none;
  }

  .page-nav ul{
    width: 100%;
    display: block;
  }

  .column{
    column-count: 1;
  }
}

@media screen and (max-width: 1000px){
  .column {
    column-count: 1;
  }
}

/*contact form*/
.form {
  padding: 20px;
}
.form p {
  padding: 15px;
}
.form label {
  display: block;
}
.form input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  padding: 5px;
  width: 100%;
}
.submit {
  float: right;
  background-color: #4f4f4f;
  color: #fff;
  padding: 10px 15px;
  border: none;
}
.submit:hover {
  background: #008080;
  color: #fff;
}
/*contact end*/